<tui-root>
    <header tuiNavigationHeader>
        <button
            title="Menu"
            tuiIconButton
            tuiNavigationDrawer
            type="button"
            [(open)]="open"
        >
            <tui-data-list>
                @for (group of drawer | keyvalue; track group) {
                    <tui-opt-group [label]="group.key">
                        @for (item of group.value; track item) {
                            <button
                                tuiOption
                                type="button"
                                (click)="open = false"
                            >
                                <img
                                    alt="icon"
                                    [src]="item.icon"
                                />
                                {{ item.name }}
                            </button>
                        }
                    </tui-opt-group>
                }
                <hr />
                <tui-opt-group>
                    <label tuiOption>
                        <input
                            size="s"
                            tuiSwitch
                            type="checkbox"
                            [(ngModel)]="switch"
                        />
                        Dark mode
                    </label>
                </tui-opt-group>
            </tui-data-list>
        </button>
        <span tuiNavigationLogo>
            <!-- <tui-icon icon="@tui.home" /> -->
            <span tuiFade>ศูนย์รับแจ้งเหตุและสั่งการการแพทย์ฉุกเฉิน อบจ.ปัตตานี</span>
            <!-- <div tuiBadge>pre-alpha-1.1.1</div> -->
        </span>
        <!-- <span tuiNavigationSegments>
            <button
                appearance="secondary-grayscale"
                tuiButton
                type="button"
            >
                Link 1
            </button>
            <button
                appearance="secondary-grayscale"
                tuiButton
                type="button"
            >
                Link 2
            </button>
            <button
                appearance="secondary-grayscale"
                tuiButton
                tuiChevron
                tuiDropdownAuto
                type="button"
                [tuiDropdown]="products"
            >
                <span
                    [style.overflow]="'hidden'"
                    [style.text-overflow]="'ellipsis'"
                >
                    A very very long project
                </span>
                <ng-template #products>
                    <tui-data-list size="s">
                        <button
                            tuiOption
                            type="button"
                        >
                            A very very long project
                            <tui-icon
                                icon="@tui.check"
                                [style.font-size.em]="1"
                                [style.margin-inline-start.rem]="0.5"
                            />
                        </button>
                        <button
                            tuiOption
                            type="button"
                        >
                            Something else
                        </button>
                    </tui-data-list>
                </ng-template>
            </button>
        </span> -->
        <hr />
        <span tuiNavigationLogo>
            <span tuiFade>วันเวลาปัจจุบัน {{ timeString() }} {{ shift() }} {{ dateString() }}</span>
            <!-- <div tuiBadge>pre-alpha-1.1.1</div> -->
        </span>
        <!-- <button
            appearance="secondary-grayscale"
            iconStart="@tui.plus"
            tuiButton
            type="button"
        >
            Create
        </button>
        <button
            iconStart="@tui.bell"
            tuiIconButton
            type="button"
        >
            Notifications
            <tui-badge-notification />
        </button>
        <button
            iconStart="@tui.ellipsis"
            tuiIconButton
            type="button"
        >
            More
        </button>
        <div tuiAvatar="AI"></div> -->
    </header>
    <div [style.display]="'flex'">
        <aside
            [tuiNavigationAside]="expanded()"
            [style.height]="'calc(100vh - 3rem)'"
        >
            <header>
                <button
                    iconStart="@tui.home"
                    type="button"
                    [tuiAsideItem]="hint"
                >
                    <ng-container [ngTemplateOutlet]="hint" />
                    <ng-template #hint>
                        <span tuiFade>หน้าหลัก</span>
                        <div
                            appearance="accent"
                            tuiBadge
                        >
                            Alpha
                        </div>
                    </ng-template>
                </button>
            </header>
            <tui-aside-group>
                <button
                    iconStart="@tui.layout-dashboard"
                    tuiAsideItem
                    tuiChevron
                    type="button"
                >
                    รายงานรับแจ้งเหตุ
                    <ng-template>
                        <button
                            tuiAsideItem
                            type="button"
                        >
                            แดชบอร์ด
                        </button>
                        <button
                            tuiAsideItem
                            type="button"
                        >
                            สรุปผล
                        </button>
                        <button
                            tuiAsideItem
                            type="button"
                        >
                            จัดการข้อมูล
                        </button>
                    </ng-template>
                </button>
            </tui-aside-group>
            <tui-aside-group>
                <button
                    iconStart="@tui.map"
                    tuiAsideItem
                    tuiChevron
                    type="button"
                >
                    รวมหน่วยกู้ชีพ
                    <ng-template>
                        <button
                            tuiAsideItem
                            type="button"
                        >
                            แผนที่
                        </button>
                        <button
                            tuiAsideItem
                            type="button"
                        >
                            สรุปผล
                        </button>
                        <button
                            tuiAsideItem
                            type="button"
                        >
                            จัดการข้อมูล
                        </button>
                    </ng-template>
                </button>
            </tui-aside-group>
            <a
                iconStart="@tui.users"
                tuiAsideItem
                routerLink="/"
            >
                เทส
            </a>
            <tui-aside-group>
                <button
                    iconStart="@tui.settings"
                    tuiAsideItem
                    tuiChevron
                    type="button"
                >
                    เทส
                    <ng-template>
                        <button
                            tuiAsideItem
                            type="button"
                        >
                            เทส
                        </button>
                    </ng-template>
                </button>
            </tui-aside-group>
            <button
                iconStart="@tui.heart"
                tuiAsideItem
                type="button"
            >
                <span tuiFade>เทส</span>
            </button>
            <button
                iconStart="@tui.search"
                tuiAsideItem
                type="button"
            >
                เทส
                @if (expanded()) {
                    <div
                        appearance="accent"
                        tuiBadge
                    >
                        12
                    </div>
                }
            </button>
            <button
                iconEnd="@tui.chevron-right"
                iconStart="@tui.ellipsis"
                tuiAsideItem
                tuiDropdownAuto
                tuiDropdownHover
                type="button"
                [tuiDropdown]="more"
            >
                เทส
                <ng-template
                    #more
                    let-close
                >
                    <tui-data-list tuiDataListDropdownManager>
                        <button
                            iconStart="@tui.pencil"
                            tuiAsideItem
                            type="button"
                        >
                            เทส
                        </button>
                        <button
                            iconStart="@tui.pie-chart"
                            tuiAsideItem
                            type="button"
                            [tuiDropdown]="submenu"
                        >
                            เทส
                            <ng-template #submenu>
                                <tui-data-list>
                                    <button
                                        tuiAsideItem
                                        type="button"
                                        (click)="close()"
                                    >
                                        เทส
                                    </button>
                                    <button
                                        tuiAsideItem
                                        type="button"
                                    >
                                        เทส
                                    </button>
                                </tui-data-list>
                            </ng-template>
                        </button>
                    </tui-data-list>
                </ng-template>
            </button>
            <hr />
            <button
                iconStart="@tui.plus"
                tuiAsideItem
                type="button"
            >
                เทส
            </button>
            <footer>
                <button
                    iconStart="@tui.star"
                    tuiAsideItem
                    type="button"
                >
                    เทส
                </button>
                <button
                    appSettings
                    iconStart="@tui.settings"
                    tuiAsideItem
                    type="button"
                >
                    การตั้งค่า
                </button>
                <button
                    tuiAsideItem
                    type="button"
                    [iconStart]="expanded() ? '@tui.arrow-left-to-line' : '@tui.arrow-right-to-line'"
                    (click)="handleToggle()"
                >
                    {{ expanded() ? 'ซ่อนแถบ' : 'แสดงแถบ' }}
                </button>
            </footer>
        </aside>
        <main tuiNavigationMain>
            <nav
                compact
                tuiSubheader
                [style.position]="'sticky'"
            >
                <!-- <tui-breadcrumbs [itemsLimit]="10">
                    @for (item of breadcrumbs; track item) {
                        @if ($last) {
                            <strong
                                *tuiItem
                                tuiFade
                            >
                                {{ item }}
                            </strong>
                        }
                        @if (!$last) {
                            <button
                                *tuiItem
                                tuiLink
                                type="button"
                            >
                                {{ item }}
                            </button>
                        }
                    }
                </tui-breadcrumbs> -->
                
                <tui-textfield
                    [style.width.rem]="7.04"
                    [tuiTextfieldCleaner]="false"
                >
                    <input
                        tuiInputDate
                        [max]="dateMax"
                        [min]="dateMin"
                        [(ngModel)]="dateValue"
                        (keydown)="$event.preventDefault()"
                    />
                    <tui-calendar *tuiDropdown />
                </tui-textfield>
                
                <tui-textfield tuiChevron
                    [style.width.rem]="4.22"
                    [tuiTextfieldCleaner]="false"
                >
                    <input
                        tuiSelect
                        [(ngModel)]="selectedShift"
                    />
                    <tui-data-list-wrapper
                        *tuiDropdown
                        [items]="shifts"
                    />
                </tui-textfield>

                <!-- <tui-tabs tuiFade>
                    <button
                        tuiTab
                        type="button"
                    >
                        Default view
                    </button>
                    <button
                        tuiTab
                        type="button"
                    >
                        Details
                    </button>
                    <button
                        tuiTab
                        type="button"
                    >
                        Followers
                    </button>
                </tui-tabs> -->
                
                <button
                    tuiButton
                    type="button"
                    (click)="resetToToday()"
                >
                    วันนี้
                </button>
                <button
                    appearance="primary"
                    tuiButton
                    type="button"
                    [style.margin-inline-start]="'auto'"
                >
                    กำหนดเจ้าหน้าที่
                </button>
                <button
                    tuiButton
                    type="button"
                >
                    บันทึกเหตุ
                </button>
            </nav>
            <div style="display: flex; gap: 1rem; justify-content: center;">
                <div
                    appearance="floating"
                    tuiCardLarge
                    class="stat-card"
                >
                    <header tuiHeader>
                        <h1
                            tuiTitle
                            [style.font]="'var(--tui-typography-heading-h1)'"
                        >
                            <span tuiSubtitle>ผลรวมทั้งหมดต่อเวร</span>
                            999
                        </h1>

                        <aside tuiAccessories>
                            <div
                                appearance="primary"
                                tuiAvatar="@tui.circle-equal"
                            ></div>
                        </aside>
                    </header>

                    <footer>
                        <div
                            tuiBadge
                            class="badge-up"
                        >
                            88 เคส
                            <tui-icon icon="@tui.arrow-up" />
                        </div>
                    </footer>
                </div>
                <div
                    appearance="floating"
                    tuiCardLarge
                    class="stat-card"
                >
                    <header tuiHeader>
                        <h1
                            tuiTitle
                            [style.font]="'var(--tui-typography-heading-h1)'"
                        >
                            <span tuiSubtitle>ปรึกษา</span>
                            77
                        </h1>

                        <aside tuiAccessories>
                            <div
                                appearance="primary"
                                tuiAvatar="@tui.message-circle-question-mark"
                            ></div>
                        </aside>
                    </header>

                    <footer>
                        <div
                            tuiBadge
                            class="badge-down"
                        >
                            66 เคส
                            <tui-icon icon="@tui.arrow-down" />
                        </div>
                    </footer>
                </div>
                <div
                    appearance="floating"
                    tuiCardLarge
                    class="stat-card"
                >
                    <header tuiHeader>
                        <h1
                            tuiTitle
                            [style.font]="'var(--tui-typography-heading-h1)'"
                        >
                            <span tuiSubtitle>สายหลุด</span>
                            55
                        </h1>

                        <aside tuiAccessories>
                            <div
                                appearance="primary"
                                tuiAvatar="@tui.message-circle-off"
                            ></div>
                        </aside>
                    </header>

                    <footer>
                        <div
                            tuiBadge
                            class="badge-up"
                        >
                            44 เคส
                            <tui-icon icon="@tui.arrow-up" />
                        </div>
                    </footer>
                </div>
                
                <div
                    appearance="floating"
                    tuiCardLarge
                    class="stat-card"
                >
                    <header tuiHeader>
                        <h1
                            tuiTitle
                            [style.font]="'var(--tui-typography-heading-h1)'"
                        >
                            <span tuiSubtitle>ก่อกวน</span>
                            33
                        </h1>

                        <aside tuiAccessories>
                            <div
                                appearance="primary"
                                tuiAvatar="@tui.message-circle-x"
                            ></div>
                        </aside>
                    </header>

                    <footer>
                        <div
                            tuiBadge
                            class="badge-equal"
                        >
                            เคสเท่ากัน
                            <tui-icon icon="@tui.target" />
                        </div>
                    </footer>
                </div>
            </div>
            
            <div style="display: flex; gap: 1rem; justify-content: center;">
                <div
                    appearance="floating"
                    tuiCardLarge
                    class="multistat-card"
                >
                    <header tuiHeader>
                        <h1
                            tuiTitle
                            [style.font]="'var(--tui-typography-heading-h1)'"
                        >
                            <span tuiSubtitle>แจ้งเหตุ</span>
                            11
                        </h1>
                        <aside tuiAccessories>
                            <div
                                appearance="primary"
                                tuiAvatar="@tui.message-circle-warning"
                            ></div>
                        </aside>
                    </header>

                    <section class="actions">
                        <div tuiCell="l">
                            <div tuiTitle [style.font]="'var(--tui-typography-heading-h5)'">
                                99
                                <div tuiSubtitle>1669</div>
                            </div>
                        </div>
                        <div tuiCell="l">
                            <div tuiTitle [style.font]="'var(--tui-typography-heading-h5)'">
                                66
                                <div tuiSubtitle>2nd</div>
                            </div>
                        </div>
                        <div tuiCell="l">
                            <div tuiTitle [style.font]="'var(--tui-typography-heading-h5)'">
                                88
                                <div tuiSubtitle>วิทยุ</div>
                            </div>
                        </div>
                        <div tuiCell="l">
                            <div tuiTitle [style.font]="'var(--tui-typography-heading-h5)'">
                                55
                                <div tuiSubtitle>Trauma</div>
                            </div>
                        </div>
                        <div tuiCell="l">
                            <div tuiTitle [style.font]="'var(--tui-typography-heading-h5)'">
                                77
                                <div tuiSubtitle>Non-Trauma</div>
                            </div>
                        </div>
                    </section>

                    <footer>
                        <div
                            tuiBadge
                            class="badge-up"
                        >
                            00 เคส มากกว่าเวรเช้าที่ผ่านมา
                            <tui-icon icon="@tui.arrow-up" />
                        </div>
                    </footer>
                </div>

                <div
                    appearance="floating"
                    tuiCardLarge
                    class="ring-chart-card"
                >
                    <header tuiHeader>
                        <h1
                            tuiTitle
                            [style.font]="'var(--tui-typography-heading-h1)'"
                        >
                            <span tuiSubtitle>ผลรวมทั้งหมดต่อวัน</span>
                        </h1>
                        <aside tuiAccessories>
                            <div
                                appearance="primary"
                                tuiAvatar="@tui.eclipse"
                            ></div>
                        </aside>
                    </header>
                    <div class="ring-chart-wrapper">
                        <tui-ring-chart
                            [value]="chartValue"
                            [(activeItemIndex)]="chartActiveItemIndex"
                        >
                            <span [style.font]="'var(--tui-typography-heading-h3)'">{{ chartSum | tuiAmount: '' }}</span>
                            <!-- <div>รวม</div> -->
                        </tui-ring-chart>
                        <div class="ring-chart-legend">
                            @for (label of chartLabels; track label) {
                                <tui-legend-item
                                    size="s"
                                    class="ring-chart-item"
                                    [active]="isChartItemActive($index)"
                                    [color]="'var(--tui-chart-categorical-' + $index.toString().padStart(2, '0') + ')'"
                                    [text]="label"
                                    (tuiHoveredChange)="onChartHover($index, $event)"
                                >
                                    <span>{{ (chartValue[$index] || 0) | tuiAmount: '' }}</span>
                                </tui-legend-item>
                            }
                        </div>
                    </div>

                    <footer>
                        <div
                            tuiBadge
                            class="badge-down"
                        >
                            00 เคส น้อยกว่าวันที่ผ่านมา
                            <tui-icon icon="@tui.arrow-down" />
                        </div>
                    </footer>
                </div>

                <div
                    appearance="floating"
                    tuiCardLarge
                    class="user-card"
                >
                    <header tuiHeader>
                        <h1
                            tuiTitle
                            [style.font]="'var(--tui-typography-body-m)'"
                        >
                            <span tuiSubtitle [style.padding-bottom.rem]="0.5">เจ้าหน้าที่ทำการ</span>
                            <!-- ยังไม่มีการกำหนดเจ้าหน้าที่ -->
                            <div
                                tuiBadge
                                class="badge-user"
                            >
                                นายวันศายนนท์ ฮัจญีย์เราะห์อีส
                            </div>
                            <div
                                tuiBadge
                                class="badge-user"
                            >
                                นางเจะรอฮานี วันหวัง
                            </div>
                            <div
                                tuiBadge
                                class="badge-user"
                            >
                                นางสาวรวิภา บุญณฤมิตร
                            </div>
                            <div
                                tuiBadge
                                class="badge-user"
                            >
                                นางสาวนิฮานาน วาแม
                            </div>
                        </h1>
                        <aside tuiAccessories>
                            <div
                                appearance="primary"
                                tuiAvatar="@tui.circle-user-round"
                            ></div>
                        </aside>
                    </header>

                    <footer>
                    </footer>
                </div>
            </div>
        </main>
    </div>
</tui-root>