.stat-card {
    flex: 1;
    max-width: 257.25px;
    height: auto;
}

.user-card {
    flex: 1;
    max-width: 257.25px;
    height: auto;
}

.actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: inherit;
}

.badge-up {
    background: #f29418;
    color: #333;
}

.badge-down {
    background: #aff218;
    color: #333;
}

.badge-equal {
    background: #a7a68f;
    color: #333;
}

.badge-user {
    background: #e4e8e936;
    color: #ffffff;
}

.ring-chart-card {
    --tui-chart-categorical-00: #c779d0;
    --tui-chart-categorical-01: #feac5e;
    --tui-chart-categorical-02: #ff5f6d;
}

.ring-chart-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.ring-chart-legend {
    display: flex;
    flex-direction: column;
}

.ring-chart-item {
    margin: 0 0 0.75rem;
}