.stat-card {
    flex: 1;
    max-width: 257.25px;
    height: auto;
    box-shadow: var(--tui-shadow-medium);
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: var(--tui-shadow-medium-hover);
    }
}

.multistat-card {
    box-shadow: var(--tui-shadow-medium);
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: var(--tui-shadow-medium-hover);
    }
}

.user-card {
    flex: 1;
    max-width: 297.25px;
    height: auto;
    align-self: flex-start;
    box-shadow: var(--tui-shadow-medium);
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: var(--tui-shadow-medium-hover);
    }
}

.actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: inherit;
}

.badge-up {
    background: var(--tui-status-negative-pale-hover);
    color: var(--tui-text-primary);
}

.badge-down {
    background: var(--tui-status-positive-pale-hover);
    color: var(--tui-text-primary);
}

.badge-equal {
    background: var(--tui-background-neutral-1-hover);
    color: var(--tui-text-primary);
}

.badge-user {
    background: var(--tui-status-info-pale-hover);
    color: var(--tui-text-primary);
}

.ring-chart-card {
    --tui-chart-categorical-00: #c779d0;
    --tui-chart-categorical-01: #feac5e;
    --tui-chart-categorical-02: #ff5f6d;
    box-shadow: var(--tui-shadow-medium);
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: var(--tui-shadow-medium-hover);
    }
}

.ring-chart-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.ring-chart-legend {
    display: flex;
    flex-direction: column;
}

.ring-chart-item {
    margin: 0 0 0.75rem;
}

.staff-viewport {
    block-size: 16.85rem;

    table {
        inline-size: 100%;

        th {
            inset-block-start: inherit;
        }

        tr {
            block-size: 2.8125rem;
        }
    }
}

[tuiTh],
[tuiTd] {
    border-inline-start: none;
    border-inline-end: none;
}

[tuiTh] {
    border-block-start: none;
}

[tuiTable][data-size='s'] [tuiTitle] {
    flex-direction: row;
    gap: 0.375rem;
}