// @import '@taiga-ui/styles/variables/media';
// @import '@taiga-ui/styles/mixins/appearance';

// :host:host {
//     .appearance-hover({
//         background: var(--tui-background-neutral-1-hover);
//     });

//     .appearance-hover(@content) {
//         .interactive({
//             @media @tui-mouse {
//                 &:hover:not([data-state]) {
//                     @content();
//                 }
//             }
//         });

//         &[data-state='hover'] {
//             @content();
//         }
//     }

//     .appearance-active({
//         background: var(--tui-background-neutral-1-pressed);
//     });

//     .appearance-active(@content) {
//         .interactive({
//             &:active:not([data-state]) {
//                 @content();
//             }
//         });

//         &[data-state='active'] {
//             @content();
//         }
//     }
// }

[tuiForm] {
    padding: 1rem;

    label {
        flex: 1;
        min-inline-size: fit-content;
    }

    tui-icon {
        font-size: 1rem;
    }

    [tuiButton]::after {
        margin-inline-start: auto;
    }
}